* { margin: 0; padding: 0; border: 0; }
html, body { height: 100%; width: 100%; margin: 0; justify-content: center; }
ul, ol, li { list-style: none; }
p {	margin: 0.25rem !important; }
a {	text-decoration: none; }

body { background: url("assets/bg/pink-clouds.jpg") center/cover no-repeat; }

.container { height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; }

img.profile {	z-index: 100; border-radius: 50%; border: 4px #fff solid; box-shadow: 0px 0px 11px 1px #f76a6a; height: 90px; width: 90px; }

.box { background: #fff; border-radius: 5%; padding: 43px 0 0; box-shadow: 0px 0 20px 0px #ffffff;
	     margin: -35px auto 5%; height: 30%; width: 55%; }

.list {	text-align: center; }
.list h1 { font-weight: bold; font-size: 20px;}
.list h2 { font-size: 15px; font-weight: normal; display: flex; justify-content: center; flex-direction: row; align-items: center; }
.list h2 img{ margin: 3% 0; height: 18px; width: 18px; }

.social-media { text-align: center; }
.social-media-item { margin: 0; width: auto; height: auto; display: inline-block; }

.social-media-item img {	width: 50px; }

.Roboto { font-family: 'Roboto', sans-serif; }
.Lato { font-family: 'Lato', sans-serif; }
.Roboto-Condensed { font-family: 'Roboto Condensed', sans-serif; }

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}
