* { margin: 0; padding: 0; border: 0; }
html, body { height: 100%; width: 100%; margin: 0; justify-content: center; }
ul, ol, li { list-style: none; }
p {	margin: 0.25rem !important; }
a {	text-decoration: none; }

img {
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

img.profile {	z-index: 100; border-radius: 50%; height: 80px; width: 80px; }

body {
	background-image: url("assets/bg/pink-clouds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container { height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; }

.box { background: #fff; border-radius: 5%;
	     margin: -40px auto 5%; height: 30%; width: 55%; }

.list {	text-align: center; }
	.title { font-weight: bold; font-size: 20px;}
	.subt{ display: flex; justify-content: center; flex-direction: row; align-items: center; }
		.subt img{ margin: 0; height: 30px; width: 30px; }

.social-media { text-align: center; }
.social-media-item { margin: 0; width: auto; height: auto; display: inline-block; }

.social-media-item img {	width: 50px; }

.Roboto { font-family: 'Roboto', sans-serif; }
.Lato { font-family: 'Lato', sans-serif; }
.Roboto-Condensed { font-family: 'Roboto Condensed', sans-serif; }

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}
